  <hr>
  <p>This is a placeholder for <code>index.html</code> file from root folder the webserver (served dynamically by <code>app.get(...)</code> and views, written in EJS).</p>
  <p><a href='/www2e/index.html'>Link</a><sup><sup><a href='/www2e/index.html'>'/www2e/index.html'</a></sup></sup> to the <code>index.html</code> at the <code>/www2e</code> folder of the site.</p>
  <p><a href='/www2e/cors/index.html'>Link</a><sup><sup><a href='/www2e/cors/index.html'>'/www2e/cors/index.html'</a></sup></sup> to the <code>index.html</code> at the <code>/www2e</code> folder.</p>
  <p><a href='/generic_content.html'>Link</a><sup><sup><a href='/generic_content.html'>'/generic_content.html'</a></sup></sup> to some local generic web site content.</p>
  <p><a href='/Login'>Link</a><sup><sup><a href='/Login'>'/Login'</a></sup></sup> to the login page (served dynamically by <code>app.get(...)</code> and views, written in EJS).</p>
  <p><a href='/Logout'>Link</a><sup><sup><a href='/Logout'>'/Logout'</a></sup></sup> to logout if you were logged in before (served dynamically by <code>app.get(...)</code>).</p>
  <p><a href='/Profile'>Link</a><sup><sup><a href='/Profile'>'/Profile'</a></sup></sup> to the user profile page (served dynamically by <code>app.get(...)</code> and views, written in EJS).</p>

