  <p>Mono/NotoMono/NotoSansMono test:</p>
  <ol>
   <li><code class='mono'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'monospace')</code></li>
   <li><code class='notomono'>...S<i>om</i>e <strong>Code</strong>...--- И по-русски. (in 'Noto Mono') </code></li>
   <li><code class='notosansmono'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Noto Sans Mono')</code></li>
   <li><code class='notosanssymbols'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Noto Sans Symbols')</code></li>
   <li><code class='notosanssymbols2'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Noto Sans Symbols2')</code></li>
   <li><code class='notoserif'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Noto Serif')</code></li>
   <li><code class='notosansdisplay'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Noto Sans Display')</code></li>
   <li><code class='notosanslinearb'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Noto Sans Linear B')</code></li>
   <li><code class='courier'>...S<i>om</i>e <strong>Code</strong>... --- И по-русски. (in 'Courier')</code></li>
  </ol>